<% provide(:title, "About") %>
<div>
  <h1 class="font-bold text-4xl">Rails 8 Test - About</h1>
  <p>This is the default about page for Binary Blade, LLC - Rails 8 Test.</p>
  <p>We build from scratch and maintain a project like this for every major rails release.</p>
</div>
